table {
    border-collapse: collapse;
    width: 100%;
    direction: ltr !important;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #DDD;
  }


  .table__data--tr{
    background-color: rgb(48, 96, 255);
    position: relative;
  }

  .editbox__containr{
    position: absolute;
    display: flex;
    gap: 6px;
    top: 12px;
    right: 20px;
    background-color: black;
    color: wheat;
    flex-direction: column;
    justify-content: space-around;
    padding: 18px;
  }

  .edit__section{
    background-color: darkgoldenrod;
    padding: 8px;
    cursor: pointer;
    border-radius: 8px;
  }

  .delete__section{
    background-color: red;
    padding: 8px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  /* tr:hover {background-color: #D6EEEE;}   */